* {
    font-family: "Helvetica";
    color: #ffffff;
}

body {
    background-image: url("Emily/Wave/WaveClose.jpg");
    background-color: #252322;
    background-repeat: no-repeat;
    height:100vh;
    background-size:cover;
    position:relative;
    overflow-x: hidden;
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}



/* Animation */
.reveal{
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.revealLeft{
    position: relative;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 1.5s ease;
}
.revealLeft.active{
    transform: translateX(40vw);
    opacity: 1;
}

.revealRight{
    position: relative;
    transform: translateX(-50vw);
    opacity: 0;
    transition: all 1.5s ease;
}
.revealRight.active{
    transform: translateX(0vw);
    opacity: 1;
}

/* text css above hero image*/
.hero-text {
    text-align: center;
    margin: auto;
    padding: 10vw;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.hero-text h2{
    font-size: 6vw;
}
.hero-text p{
    font-size: 4vw;
}



/* ArtTitle */
.ArtTitle{
    text-align: center;
    margin: auto;
    padding: 10vw;
    padding-top: 20vh;
    padding-bottom: 0px;
}
.ArtTitle h2{
    font-size: 3vw;
}
.ArtTitle p{
    font-size: 1.5vw;
}


/* carousel */
.carousel-item{
    height: 40vw;

}
.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 40vw;
}



/* Wave */

.waveCeramic{
    width: 100vw;
    height: 100vw;
}
.sketch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    padding: 20px;
}






/* Drunk */
.Drunk{
    width: 30vw;
    margin: auto;
    padding: 10px;
}

.Dreams{
    width: 30vw;
    margin: auto;
    padding: 10px;
}

.Flag{
    width: 40vw;
    margin: auto;
    padding: 10px;
}




@media only screen and (max-width: 800px){
    /* text css above hero image*/
    .hero-text {
        padding-right: 2vw;
        padding-left: 2vw;
    }

    .hero-text h2{
        font-size: 12vw;
    }
    .hero-text p{
        font-size: 8vw;
    }



    /* ArtTitle */
    .ArtTitle{
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .ArtTitle h2{
        font-size: 8vw;
    }
    .ArtTitle p{
        font-size: 4vw;
    }

    /* carousel */
    .carousel-item{
        height: 80vw;
    }
    .carousel-item img{
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 80vw;
    }




    /* Drunk */
    .Drunk{
        width: 60vw;
        margin: auto;
        padding: 10px;
    }

    /* Dreams */
    .Dreams{
        width: 60vw;
        margin: auto;
        padding: 10px;
    }

    .Flag{
        width: 80vw;
        margin: auto;
        padding: 10px;
    }

    .sketch{
        width: 90vw;
    }

}